@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  top:-150px;
  padding-bottom:20px;
}

body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: rgba(26, 26, 64, 0.8);
  margin: 20px 0; /* Add margin to the top and bottom */
  padding: 2rem;
  border-radius: 5px;
  opacity: 0.98;
  margin-top: 50px;
}




.TodoForm {
  width: 100%;
  margin-bottom: 2rem;
  /* This background property creates a shaded box behind the button and input */
  
}


.Todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  width: 300px;
  color: #fff;
}

.Todo-input::placeholder {
  color: #ffffff4d;
}

.TodoButton {
  background: #8758ff;
  color: #fff;
  border: 1px solid black; /* Add a border to create an outline effect */
  padding: 0.55rem;
  cursor: pointer;
}


.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.todo:hover{
  background-color: lime;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}


.todo {
  /* Other styles */
  opacity: 0.8; /* Lower the opacity */
}

.todo-container {
  max-height: 70vh; /* Set a maximum height for the container */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  display: flex;
  flex-direction: column;
}

.signInbutton{
  position: relative;
  top:-60px;
  padding:5px;
}

.signInbutton:hover{
  background-color: orangered;
}

.signOutbutton{
  position: relative;
  top:-60px;
  padding:5px;
}

.signOutbutton:hover{
  background-color: orangered;
}